/*!
Styles for full screen background video demo
*/
/* =============================================================================
  RESETS
============================================================================= */
html,
body,
div,
h1,
p,
a,
video {
  margin: 0;
  padding: 0;
}

/* =============================================================================
  HTML, BODY
============================================================================= */
html,
body {
  height: 100%;
}

body {
  font-size: 46px;
  font-family: sans-serif;
}

/* =============================================================================
  CONTENT
============================================================================= */
.content {
  position: relative;
  top: 5%;
  z-index: 2;
  margin: 0 10% 0 5%;
  max-width: 920px;
  text-align: left;
}

.content__heading {
  color: white;
  font-size: 84px;
  margin: 0;
}

.content ul {
  margin-top: 2%;
}

.content ul li {
  list-style: none;
  line-height: 1.5;
}

.content ul li a {
  color: white;
  text-decoration: none;
}

.content ul li a:hover {
  color: pink;
}

.color {
text-shadow: 2px 2px 1px gray;
}


/* =============================================================================
  VIDEO
============================================================================= */
.video {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
